* {
  box-sizing: border-box;
}

.section {
  background-color: aqua;
  padding: 1rem;
  border: 1px solid #000;
}

.contaner {
  background-color: bisque;
  max-width: 50rem;
  margin-inline: auto;
  padding: 1rem;
}

.children {
  border: solid #f00;
  padding: 16px;
}

.flex {
  display: flex;
}
